body {
	min-height: 100vh;
}

[data-theme='dark'] {
	color: #fff;
	background-color: #121212;
	background-image: linear-gradient(
		rgba(255, 255, 255, 0.09),
		rgba(255, 255, 255, 0.09)
	);
}
[data-theme='dark'] .MuiDataGrid-columnHeaderTitle,
[data-theme='dark'] .MuiDataGrid-cell {
	color: #fff;
}

#root {
	min-height: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

figure {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

a {
	text-decoration: none;
}

.Mui-required[data-shrink='true'] .MuiInputLabel-asterisk {
	color: red;
}
