body {
    min-height: 100vh;
}

body[data-theme="dark"] a{
    color: #fff;
}

#root {
    min-height: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
}
